{% extends 'base/index.html' %} {% block extrahead %}{% endblock extrahead %} {% block extrastyle %}

{% endblock extrastyle %} {% block title %}Home{% endblock %} {% block body %}

<div class="overflow-hidden py-24 sm:py-24">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="lg:pr-8 lg:pt-4">
        <div class="lg:max-w-lg">
          <h2 class="text-base font-semibold leading-7 text-base-content dark:text-base-100/80">Realworld x Litestar</h2>
          <p class="mt-2 text-3xl font-bold tracking-tight text-base-content dark:text-base-100 sm:text-4xl">
            Realworld Placeholder
          </p>
          <p class="mt-6 text-lg leading-8 text-base-content dark:text-base-100">
            This realworld app is built on the Litestar framework
          </p>
          <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
            This is temporarory
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %} {% block extrajs %}{% endblock extrajs %}
